.section img{
    width: 40% !important;

}
body::before{
    content:'';
    display:block;
    height:50px;
}

@media(min-width:768px){
    .news-input{
        width:50%;
    }
}
.card-body img{
    width:100px;
    height:100px;
}

#map{
    width:100%;
    height:100%;
    border-radius:10px;
}


.navbar-nav a{
    padding:4px;
    font-size:1.1rem;
}